engine-strict=true
min-release-age=7
package-lock=true
strict-ssl=true

# This blocks install scripts, which could be annoying, but better to
# be explicit about allowing exceptions than default to allow.
#
# If you want to run an install script, after installing it, run
# npm rebuild <package-name>
ignore-scripts=true
