engine-strict=true
# nodemailer v9 (devDep) conflicts with @auth/sveltekit's peerOptional nodemailer@^7;
# the optional peer has no runtime impact so we override the resolution error.
legacy-peer-deps=true
min-release-age=7
package-lock=true
strict-ssl=true

# This blocks install scripts, which could be annoying, but better to
# be explicit about allowing exceptions than default to allow.
#
# If you want to run an install script, after installing it, run
# npm rebuild <package-name>
ignore-scripts=true
