/**
 * Common components that are useful across multiple Svelte components.
 */

/* Containers */

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.page-container-small {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-width-small);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.full-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

/* Sections on a page level likely to have more space */
.page-section {
  margin-bottom: var(--spacing-double);
}

/**
 * On most pages, we want space below the nav and above the footer, but
 * no on the landing page.
 */
.content-container {
  padding-top: var(--spacing-large);
  margin-bottom: var(--spacing-xlarge);
}

.center-container {
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  max-width: var(--copy-width-limit);
}

/* Text */
.h2-alt {
  font-family: var(--font-family-heading-alt);
  font-weight: var(--font-family-heading-alt-weight-normal);
  letter-spacing: var(--font-heading-alt-letter-spacing);
  font-size: var(--font-size-xlarge);
}

.h3-alt {
  font-family: var(--font-family-heading-alt);
  font-weight: var(--font-family-heading-alt-weight-normal);
  letter-spacing: var(--font-heading-alt-letter-spacing);
  font-size: var(--font-size-large);
}

a.like-text {
  color: var(--color-text);
}

a.subscribe,
a.auth {
  color: var(--color-subscribe);
}

.font-small {
  font-size: var(--font-size-small);
}

h1 > small,
h2 > small,
h3 > small,
h4 > small {
  font-size: 0.85rem;
  font-weight: var(--font-copy-weight-normal);
  font-family: var(--font-family-copy);
  display: block;
}

.muted {
  color: var(--color-text-muted);
}

/* Lists */
ul.inline-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.inline-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.inline-list li + li::before {
  content: ' · ';
  font-weight: bold;
  margin-right: var(--spacing-half);
  margin-left: var(--spacing-half);
}

ul.no-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.no-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

/* Buttons */
button.secondary,
input[type='submit'].secondary,
input[type='button'].secondary,
input[type='reset'].secondary,
[role='button'].secondary,
a.button.secondary {
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
  border-color: var(--color-secondary-border);

  &:hover {
    background-color: var(--color-secondary-hover);
    color: var(--color-secondary-hover-text);
    border-color: var(--color-secondary-hover-border);
  }
}

/* Subscribe and auth buttons */
button.subscribe,
input[type='submit'].subscribe,
input[type='button'].subscribe,
input[type='reset'].subscribe,
[role='button'].subscribe,
a.button.subscribe,
button.auth,
input[type='submit'].auth,
input[type='button'].auth,
input[type='reset'].auth,
[role='button'].auth,
a.button.auth {
  background-color: var(--color-subscribe);
  color: var(--color-subscribe-text);
  border-color: var(--color-subscribe-border);

  &:hover {
    background-color: var(--color-subscribe-hover);
    color: var(--color-subscribe-hover-text);
    border-color: var(--color-subscribe-hover-border);
  }
}

/* Alt version */
button.alt,
input[type='submit'].alt,
input[type='button'].alt,
input[type='reset'].alt,
[role='button'].alt,
a.button.alt {
  background-color: var(--color-alt);
  color: var(--color-alt-text);
}

button.alt:hover,
input[type='submit'].alt:hover,
input[type='button'].alt:hover,
input[type='reset'].alt:hover,
[role='button'].alt:hover,
a.button.alt:hover {
  background-color: var(--color-alt-hover);
  color: var(--color-alt-hover-text);
}

/* Toggle buttons */
button[aria-pressed='false'].alt,
input[type='submit'][aria-pressed='false'].alt,
input[type='button'][aria-pressed='false'].alt,
input[type='reset'][aria-pressed='false'].alt,
[role='button'][aria-pressed='false'].alt,
a[aria-pressed='false'].button.alt {
  background-color: var(--color-blue-light);
  color: var(--color-text-inverse);
}

button[aria-pressed='false'].alt:hover,
input[type='submit'][aria-pressed='false'].alt:hover,
input[type='button'][aria-pressed='false'].alt:hover,
input[type='reset'][aria-pressed='false'].alt:hover,
[role='button'][aria-pressed='false'].alt:hover,
a[aria-pressed='false'].button.alt:hover {
  background-color: var(--color-blue);
  color: var(--color-text-inverse);
}

/* Switch button */
button.button-switch,
input[type='submit'].button-switch,
input[type='button'].button-switch,
input[type='reset'].button-switch,
[role='button'].button-switch,
a.button.button-switch {
  --local-padding: calc(1em / 6);
  --local-width: 4rem;
  --local-height: 2rem;
  background-color: var(--color-gray-lighter);
  color: var(--color-text);
  width: var(--local-width);
  min-width: 0;
  height: var(--local-height);
  padding: var(--local-padding);
  border-radius: var(--border-radius-full);
  position: relative;

  .button-switch-slider {
    display: block;
    background-color: var(--color-white);
    width: calc(var(--local-height) - (var(--local-padding) * 4));
    height: calc(var(--local-height) - (var(--local-padding) * 4));
    border-radius: var(--border-radius-full);
    transform: translate(var(--local-padding));
    transition: transform 0.2s ease-out;
    border: var(--border-weight) solid var(--color-primary);
  }

  &[aria-checked='true'] {
    background-color: var(--color-primary);
  }

  &[aria-checked='true'] .button-switch-slider {
    transform: translate(calc(var(--local-width) - var(--local-height)));
  }

  &.small {
    --local-padding: calc(1em / 10);
    --local-width: 3rem;
    --local-height: 1.5rem;
    padding: var(--local-padding);
    border-radius: var(--border-radius-full);
  }

  /* Alt */
  &.alt .button-switch-slider {
    border-color: var(--color-blue);
  }

  &[aria-checked='false'].alt {
    background-color: var(--color-blue-light);
  }

  &[aria-checked='true'].alt {
    background-color: var(--color-blue);
  }

  /* Previous switch */
  &.previous .button-switch-slider {
    border-color: var(--color-previous-checked);
  }

  &[aria-checked='false'].previous {
    background-color: var(--color-previous-unchecked);
  }

  &[aria-checked='true'].previous {
    background-color: var(--color-previous-checked);
  }
}

/* Make look like text */
button.like-text,
input[type='submit'].like-text,
input[type='button'].like-text,
input[type='reset'].like-text,
[role='button'].like-text,
a.button.like-text {
  display: inline;
  background-color: inherit;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
  transition: none;
  display: inline;
  text-align: left;
  line-height: var(--line-height);
  min-width: auto;
}

/* Helpful for spacing */
button.like-link,
input[type='submit'].like-link,
input[type='button'].like-link,
input[type='reset'].like-link,
[role='button'].like-link,
a.button.like-link {
  display: inline-block;
  background-color: inherit;
  color: var(--color-link);
}

button.like-link:hover,
input[type='submit'].like-link:hover,
input[type='button'].like-link:hover,
input[type='reset'].like-link:hover,
[role='button'].like-link:hover,
a.button.like-link:hover {
  text-decoration: underline;
}

/* Limited padding */
button.compact,
input[type='submit'].compact,
input[type='button'].compact,
input[type='reset'].compact,
[role='button'].compact,
a.button.compact {
  font-weight: var(--font-copy-weight-normal);
  min-width: auto;
  padding: calc(var(--spacing-smallish) - var(--border-weight)) var(--spacing);
}

/* Small size */
input.small,
textarea.small,
select.small {
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-small);
  padding: calc(var(--spacing-half) - var(--border-weight)) var(--spacing-half);
}

button.small,
input[type='submit'].small,
input[type='button'].small,
input[type='reset'].small,
[role='button'].small,
a.button.small {
  font-weight: var(--font-copy-weight-normal);
  font-size: var(--font-size-small);
  padding: calc(var(--spacing-half) - var(--border-weight)) var(--spacing-half);
  border-radius: var(--border-radius-small);
}

/* Icon in a button */
.button-icon {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  margin-left: -1.5em;
  margin-right: var(--spacing-half);
  vertical-align: text-top;
}

.compact .button-icon {
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  margin: 0;
  vertical-align: sub;
}

/* Forms */

/* Generic form item container */
.form-item {
  margin-bottom: var(--spacing);
}

.form-item label {
  display: block;
  margin-bottom: var(--spacing-small);
}

.input-help {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
  margin: 0 var(--spacing-small) 0 0;
}

.form-item:has(.input-help) label {
  margin-bottom: 0;
}

.form-item-inline {
  display: inline-block;
  margin-bottom: var(--spacing);
  margin-right: var(--spacing);
}

.form-item-inline label {
  display: inline-block;
  margin-right: var(--spacing-half);
}

/* Radios and checkboxes, should be used in a fieldset with a legend if more than one */
.checkbox input,
.radio input {
  display: inline-block;
  margin-right: var(--spacing-half);
}

.checkbox label,
.radio label {
  display: inline-block;
}

fieldset.checkboxes,
fieldset.radios {
  margin-bottom: var(--spacing-half);
  padding: 0;
  border: none;
}

fieldset.checkboxes legend,
fieldset.radios legend {
  padding-left: 0;
  display: block;
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--spacing-half);
}

/* Legends can't be inline, so ok to use div[role="group] with a label inside that has for pointing at it */
.checkboxes-inline,
.radios-inline {
  margin-bottom: var(--spacing-half);
  padding: 0;
  border: none;
}

.checkboxes-inline legend,
.checkboxes-inline > label,
.radios-inline legend,
.radios-inline > label {
  padding-left: 0;
  display: inline-block;
  font-weight: var(--font-weight-normal);
  margin-bottom: var(--spacing-half);
  margin-right: var(--spacing-half);
}

.checkboxes-inline .checkbox,
.radios-inline .radio {
  display: inline-block;
  margin-right: var(--spacing);
}

/* Tags */
.tag {
  display: inline-block;
  background-color: var(--color-gray-lighter);
  color: var(--color-text);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  padding: var(--spacing-tiny) var(--spacing-small);
  margin: 0 var(--spacing-small) var(--spacing-small) 0;
  line-height: var(--line-height);
}

.tag.alt {
  background-color: var(--color-alt);
  color: var(--color-alt-text);
}

/* "responsive" table containers */
.responsive-table {
  display: block;
  overflow-x: auto;

  @media (max-width: 768px) {
    & {
      overflow-x: scroll;
    }

    table {
      width: 758px;
    }
  }
}

/* Icons */
.inline-icon {
  display: inline-block;
  width: var(--icon-size-inline);
  margin-right: var(--spacing-half);
  vertical-align: middle;
}

.inline-icon-square {
  display: inline-block;
  width: var(--icon-size-inline);
  height: var(--icon-size-inline);
  margin-right: var(--spacing-half);
  vertical-align: middle;
}
