/**
 * Elements.  i.e. things without classes or ids
 */

/* Page */
body {
  font-family: var(--font-family-copy);
  font-weight: var(--font-copy-weight-normal);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: var(--line-height);
  font-size: var(--base-font-size);
}

/* Elements */
a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing);
  max-width: var(--copy-width-limit);
}

small {
  font-size: var(--font-size-small);
}

.font-small {
  font-size: var(--font-size-small);
}

figcaption,
caption {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-half);
  text-align: left;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-heading-weight-bold);
  line-height: var(--line-height-small);
  padding-top: var(--spacing);
  margin-top: 0;
  margin-bottom: var(--spacing);
}

h1,
.h1 {
  font-size: var(--font-size-xxlarge);
}

h2,
.h2 {
  font-size: var(--font-size-xlarge);
}

h3,
.h3 {
  font-size: var(--font-size-large);
}

h4,
.h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: normal;
}

blockquote {
  margin-left: var(--spacing);
  padding: var(--spacing);
  border-left: var(--spacing-small) solid var(--color-accent);
}

blockquote > * {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: var(--spacing);
  text-align: left;
}

th,
td {
  padding: var(--spacing-half);
}

tbody tr {
  border-bottom: var(--border-weight-thin) solid var(--color-text);
}

thead {
  border-bottom: var(--border-weight) solid var(--color-text);
  font-weight: var(--font-copy-weight-bold);
}

tfoot {
  border-top: var(--border-weight) solid var(--color-text);
  font-weight: var(--font-copy-weight-bold);
}

kbd,
code,
samp,
pre {
  background-color: var(--color-gray-light);
  border: var(--border-weight-thin) solid var(--color-gray-medium);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
  list-style: var(--line-height);
  font-family: var(--font-family-monospace);
}

abbr {
  cursor: help;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  padding: 0;
  margin: 0 0 var(--spacing);
}

iframe {
  border: none;
  margin-bottom: var(--spacing);
}

fieldset {
  border: var(--spacing-thin) solid var(--color-gray-light);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  margin-bottom: var(--spacing);
}

fieldset legend {
  padding-inline: var(--spacing-half);
  font-weight: var(--font-weight-bold);
}

label {
  display: block;
  margin-bottom: var(--spacing-half);
  font-weight: var(--font-weight-normal);
}

input,
textarea,
select {
  font-family: var(--font-family-copy);
  border: var(--border-weight) solid var(--color-black);
  border-radius: var(--border-radius);
  padding: var(--spacing-half) var(--spacing);
  min-width: 15rem;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  margin-right: var(--spacing-half);
  min-width: auto;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--color-text-muted);
}

input[disabled],
textarea[disabled],
select[disabled] {
  background-color: var(--color-disabled);
  color: var(--color-gray-medium);
  border-color: var(--color-gray-medium);
  cursor: not-allowed;
}

input[aria-invalid='true'] {
  border-color: var(--color-error);
}

button,
input[type='submit'],
input[type='button'],
input[type='reset'],
[role='button'],
a.button {
  display: inline-block;
  line-height: var(--line-height);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-primary-text);
  cursor: pointer;
  text-align: center;
  font-weight: var(--font-copy-weight-bold);
  padding: var(--spacing) var(--spacing-double);
  min-width: calc(17rem);
  transition: background-color var(--transition) ease;
}

button:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover,
[role='button']:hover,
a.button:hover {
  background-color: var(--color-primary-muted);
  color: var(--color-primary-text);
}

button[disabled],
input[type='submit'][disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
[role='button'][disabled],
button[disabled]:hover,
input[type='submit'][disabled]:hover,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:hover,
[role='button'][disabled]:hover {
  background-color: var(--color-gray-lighter);
  color: var(--color-text);
  cursor: not-allowed;
}

/* Toggles */
button[aria-pressed='false'],
input[type='submit'][aria-pressed='false'],
input[type='button'][aria-pressed='false'],
input[type='reset'][aria-pressed='false'],
[role='button'][aria-pressed='false'],
a[aria-pressed='false'].button {
  background-color: var(--color-secondary);
  color: var(--color-secondary-text);
}

button[aria-pressed='false']:hover,
input[type='submit'][aria-pressed='false']:hover,
input[type='button'][aria-pressed='false']:hover,
input[type='reset'][aria-pressed='false']:hover,
[role='button'][aria-pressed='false']:hover,
a[aria-pressed='false'].button:hover {
  background-color: var(--color-secondary-muted);
  color: var(--color-secondary-text);
}
