/**
 * All top-level variables
 */

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-lighter: #dbd4cb;
  --color-gray-light: #c2bcb3;
  --color-gray-medium: #787878;
  --color-gray-dark: #565656;
  --color-gray-darker: #333333;

  --color-green: #1da876;
  --color-green-light: #26c690;
  --color-green-dark: #059260;
  --color-green-darker: #00724a;
  --color-yellow: #fba62b;
  --color-yellow-light: #ffca7c;
  --color-yellow-dark: #d98307;
  --color-yellow-darker: #aa6500;
  --color-orange: #fb6e2b;
  --color-orange-light: #ff8b53;
  --color-orange-dark: #d94b07;
  --color-orange-darker: #aa3700;
  --color-blue: #2666a3;
  --color-blue-lightest: #f0faff;
  --color-blue-lighter: #b3ddf4;
  --color-blue-light: #699ac9;
  --color-blue-dark: #0f4f8d;
  --color-blue-darker: #083c6f;
  --color-off-white: #f9f1e6;

  --color-background: var(--color-white);
  --color-text: var(--color-gray-darker);
  --color-text-muted: var(--color-gray-medium);

  --color-background-inverse: var(--color-gray-darker);
  --color-text-inverse: var(--color-white);

  --color-background-alt: var(--color-off-white);
  --color-text-alt: var(--color-gray-darker);

  --color-primary: var(--color-green-light);
  --color-primary-text: var(--color-text-inverse);
  --color-primary-hover: var(--color-green);
  --color-primary-hover-text: var(--color-text-inverse);

  --color-secondary: var(--color-background);
  --color-secondary-text: var(--color-primary);
  --color-secondary-border: var(--color-primary);
  --color-secondary-hover: var(--color-primary);
  --color-secondary-hover-text: var(--color-text-inverse);
  --color-secondary-hover-border: transparent;

  /* Unsure of semantic name for this */
  --color-alt: var(--color-gray-dark);
  --color-alt-text: var(--color-text-inverse);
  --color-alt-hover: var(--color-gray-medium);
  --color-alt-hover-text: var(--color-text-inverse);

  --color-toggle-on: var(--color-gray-dark);
  --color-toggle-on-text: var(--color-text-inverse);
  --color-toggle-off: var(--color-blue-lighter);
  --color-toggle-off-text: var(--color-text);
  --color-toggle-hover: var(--color-gray-medium);
  --color-toggle-hover-text: var(--color-text-inverse);

  --color-highlight: var(--color-yellow-light);
  --color-error: var(--color-orange-darker);
  --color-disabled: var(--color-gray-lighter);

  --color-link: var(--color-green);
  --color-link-inverse: var(--color-green-light);

  --font-family-copy: 'IBM Plex Sans', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-copy-weight-normal: 400;
  --font-copy-weight-bold: 600;
  --font-copy-weight-bolder: 700;

  --font-family-heading: 'Domine', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-heading-weight-normal: normal;
  --font-heading-weight-bold: 600;

  --font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  --font-family-heading-alt: var(--font-family-copy);
  --font-heading-alt-letter-spacing: -0.2px;
  --font-family-heading-alt-weight-normal: var(--font-copy-weight-normal);
  --font-family-heading-alt-weight-bold: var(--font-copy-weight-bold);

  --line-height: 1.5;
  --line-height-small: 1.2;
  --base-font-size: 16px;
  --font-size-small: 0.8rem;
  --font-size-regular: 1rem;
  --font-size-slight: 1.15rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 2.875rem;

  --border-radius: calc(var(--spacing) * 2 / 3);
  --border-radius-small: calc(var(--spacing) * 1 / 3);
  --border-weight: var(--spacing-thin);
  --border-weight-thin: calc(var(--spacing-thin) / 2);

  --transition: 0.3s;
  --transition-fast: 0.1s;

  --spacing: 1rem;
  /* Sorry about these names */
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-tiny: calc(var(--spacing) / 6);
  --spacing-small: calc(var(--spacing) / 4);
  --spacing-smallish: calc(var(--spacing) * 2 / 3);
  --spacing-line-height: calc(1rem * var(--line-height));
  --spacing-thin: calc(var(--spacing) * 2 / 16);
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-large: calc(var(--spacing) * 4);
  --spacing-xlarge: calc(var(--spacing) * 5);

  --icon-size-inline: 1.1em;

  --copy-width-limit: 50em;
  --page-width: 75rem;
  --page-width-small: 62rem;
}

@media (max-width: 768px) {
  :root {
    --base-font-size: 14px;

    --spacing-large: calc(var(--spacing) * 2);
    --spacing-xlarge: calc(var(--spacing) * 3);
  }
}
